@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

* {
	margin: 0;
	padding: 0;
}

body{
    background: white;
    height: 100%;
    width: 100%;
  }
.container{
  display:flex;
  flex: 1 0 auto;
  align-content: center;
  margin-left: 25%;
width: 50%;
height:100%;

}
.box{
text-align: center;
background-image: url(../images/404.png);
  background-repeat:no-repeat; 
  background-size: contain;
  background-position: right; 
  height:100%;
  width: 100%;
  margin-top: 25%;
}
.box h1{
  font-family: 'Satisfy', cursive;
  color: black;
  font-size: 350%;
}
.box p{
  font-family: 'Satisfy', cursive;
  color: black;
  font-size: 1.5em;
}

.button {
	font-weight: 700;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	display: inline-block;
	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;
	margin-bottom: 13px;
	margin-top: 20px;
}

.button:hover{
	color: black;
  border-color: black;
	transition: 0.5s;
}
