
* {
	margin: 0;
	padding: 0;
}

.container {
	
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
}

.footer{
	margin-left: 0;
	margin-right: 0;
	flex: 0 0 auto;
	height: 80px;
}
.row:after {
	clear: both;
	content: "";
	display: table;
}
.col-4 {
	width: 33%;
	float: left;
}
.col-4:last-child {
	width: 34%;
	margin-right: 0px;
	float: left;
}

.col-4 p {
	text-align: center;
}


.footer {
	background-color: #24252A;
	color: #6479a2;
	padding-top: 30px;
	padding-bottom: 30px;
	flex-grow: 0;
}

.footer p {
	margin-top: 0px;
	margin-bottom: 15px;
}

.Footer__name {
	font-size: 18px;
	text-align: center;
	padding-top: 35px;
	line-height: normal;
}

.footer__social {
	color: #fff;
	text-align: center;
}

.footer__social-icons {
	color: #fff;
	font-size: 32px;
	text-align: center;
}

p.footer__social-icons a {
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
}

p.footer__social-icons a:last-child {
	margin-right: 0px;
}

p.footer__social-icons a:hover {
	color: #3498db;
}

.button {
	font-weight: 700;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	display: inline-block;
	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;
	margin-bottom: 13px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 20%;
}

.button:hover{
	color: #3498db;
	border-color: #3498db;
	transition: 0.25s;
}