@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
	margin: 0;
	padding: 0;

}


  nav {
	background: #222;
	padding: 5px 5%;
  }
  ul {
	list-style-type: none;
  }
  a {
	color: white;
	text-decoration: none;
  }
 
  .logo a:hover {
	text-decoration: none;
  }


  .logo i{
	float: left;
	padding-right: 10px;
  }
  .logo a{
	  font-size: 18px;
	  float: left;
	  padding-top: 7px;
  }

  .logo {
		   flex: auto;
		   margin-left: 3%;
  }

  .item a{
	transition: all .5s ease-out;
  }
  .item a:hover{
	color: #3498db;
  }
  .toggle a {
	font-size: 20px;
  }

  #\31{
	transition: all .5s ease-out;
  }
  #\31:hover{
	color: #3498db;
  }
  
  /* Mobile menu */
  .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  }
  .logo a {
	  font-size: 14px;
  }
  i.fa {
	  font-size: 24px;
  }

  .user-pic {
	max-width: 30px;
  }

  #\31 {
	  visibility: hidden;
	  font-size: 1px;
  }
  .toggle {
	order: 1;
  }
  .item.button {
	order: 2;
  }
  .item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
  }
  .item.active {
	display: block;
  }

  .menu li {
	font-size: 16px;
	padding: 5px 5px;
	white-space: nowrap;
  }
  
  .box{
margin: auto;
max-width: 92%;
height: auto;
}

.about ul {
	background-color: rgba(34, 34, 36, 0.8);
	width: 90%;
	padding-top: 10%;
	margin-left: 4%;
	text-align: left;
	text-decoration: none;
	list-style: none;
	padding: 3%;
	border-radius: 24px;
}

div.col-4:nth-child(1) {
	visibility: hidden;
	width: 20%;
	font-size: 1px;
	}

	div.col-4:nth-child(3) {
		visibility: hidden;
		width: 20%;
		}

		div.col-4:nth-child(2) {
			width: 60%;
			}
			.Footer__name {
				font-size: 1px;
				text-align: center;
				line-height: normal;
			}

			
				.pag{
					width: 100%;
					display: inline-flex;  
					background-color: rgba(0, 0, 0, 0.7); 
				}
  /* Navbar Toggle */
  .toggle {
	cursor:pointer;
  }
  .bars {
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  .bars:before,
  .bars:after {
	background: #999;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .5s ease-out;
	width: 100%;
  }
  .bars:before {
	top: 5px;
  }
  .bars:after {
	top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
	.menu {
		justify-content: center;
	}
  
	.menu li {
		font-size: 16px;
		padding: 5px 5px;
		white-space: nowrap;
	}

	.logo {
		flex: 1;
		margin-left: 0px;
	}
	.logo a {
		font-size: 12px;
	}
	#\31 {
		visibility: visible;
		font-size: 14px;
		margin-top: 5px;
		padding-left: 10px;
	}
    .menu li {
		font-size: 16px;
		white-space: nowrap;
	  }
	.item.button3 {
		width: auto;
		order: 1;
		display: block;
	}
	.toggle {
		order: 2;
	}
	.button3.secondary {
		border: 0;
	}
	.button3 a {
		padding: 7.5px 15px;
		background: teal;
		border: 1px #006d6d solid;
		border-radius:50em;
	}
	.button3.secondary a {
		background: transparent;    
	}
	.button3 a:hover {
		text-decoration: none;
		transition:all .25s;
	}
	.button3:not(.secondary) a:hover {
		background: #006d6d;
		border-color: #005959;
	}
	.button3.secondary a:hover {
		color: #ddd;
	}
	.user-pic {
		max-width: 40px;
	  }
	.pag{
		width: 100%;
		display: inline-flex;  
		background-color: rgba(0, 0, 0, 0.7); 
	}

	.el{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.about ul {
		background-color: rgba(34, 34, 36, 0.8);
		width: 60%;
		padding-top: 10%;
		margin-left: 4%;
		text-align: left;
		text-decoration: none;
		list-style: none;
		padding: 3%;
		border-radius: 24px;
	}

	.about ul li a{
		color: #fff;
		font-size: 18px;	
	}
	.box{
		width: 60%;
		height: auto;
		}	
		.Footer__name {
			font-size: 12px;
			text-align: center;
			line-height: normal;
		}
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	.logo {
		order: 0;
	}
	nav {
		background: #222;
		padding: 0px 5%;
	  }
	.logo a {
		font-size: 25px;
	}
	#\31 {
		font-size: 16px;
		padding: 15px 10px;
		margin-top: 0px;

	}

	.user-pic {
		max-width: 50px;
	  }
	
	i.fa{
		font-size: 34px;
	}
	.item {
		order: 1;
	}
	.button3 {
		order: 2;
	}
	.menu li {
		padding: 15px 10px;
	}
	.menu li.button3 {
		padding-right: 0;
	}
	.box{
		margin-left: 28%;
		width: 32%;
		height: auto;
		}
		div.col-4:nth-child(1) {
			visibility: visible;
			width: 33%;
			font-size: 16px;
			}
		
			div.col-4:nth-child(3) {
				visibility: visible;
				width: 33%;
				}
		
				div.col-4:nth-child(2) {
					width: 33%;
					}

		.menu li {
			font-size: 16px;
			white-space: nowrap;
		  }
		  .Footer__name {
			font-size: 18px;
			text-align: center;
			padding-top: 35px;
			line-height: normal;
		}
  }

body{
	font-family: sans-serif;
	background: #34495e;
	/* Растягиваем body по высоте html */
	margin: 0;
	/*display: flex;*/
	display: flex;
  flex-direction: column;
}

html{
	height: 100%;
	min-width: 256px;
	scrollbar-arrow-color: #000; /* 1 – цвет стрелки */;
	scrollbar-track-color: #34495e; /* 2 – цвет подложки */;
	scrollbar-face-color: #34495e; /* 3 - цвет самой полосы */;
	scrollbar-shadow-color: #000; /* 4 – цвет разделяющей полосы */;
	scrollbar-highlight-color: #000; /* 4 - цвет разделяющей полосы */;
	scrollbar-3dlight-color: #0088a9; /* 5 - цвет внешних границ полосы */;
	scrollbar-darkshadow-color: #0088a9; /* 5 - цвет внешних границ полосы */;
}
.content {
	flex: 1 0 auto;
	/*height: 80%;*/
}

header{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: #24252A;*/
	width: 100%;
	/*position: absolute;*/
}

li,a,button {
/*	font-family: "Montserrat", sans-serif; */
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}
.logo{
list-style: none;
font-family: 'Merienda', cursive;
font-weight: 500;
font-size: 16px;
color: white;
list-style: none;
display: inline-block;
padding-left: 10px;
}



header {
	/*display: flex;*/
	justify-content: space-between;
	align-items: center;
	/*padding-top: 10px;
	padding-bottom: 15px;
	/*padding-left: 10%;
	padding-right: 10%;*/
	
}
i {
	 color: white;
	 cursor: pointer;
	}



ul{
	list-style-type: none;
}
.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	color: white;
	transition: all .5s ease;
}

.nav_links li a:hover {
	color: #0088a9;
}

main {
	/* Чтобы занимал оставшееся пространство */
	flex-grow: 1;
  }

.box{
	/*min-width: 150px;*/
	max-height: 80%;
	padding: 4%;
/*	transform: translate(100%, 25%);*/
	
	margin-top: 5%;
	background: #191919;
	text-align: center;
	border-radius: 24px;
	background-size: contain
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 250;
	padding-top: 0px;
	margin-top: 0px;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
	border: 0;
	background: none;
	display: block;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 65%;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
width: 75%; 
}
.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 10%;
	width: 50%;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]{
	transition: all .5s ease;
}
.box input[type = "submit"]:hover{
	background: #2ecc71;
}

.settings h1{
	font-size: 1em;
	color: white;
}
#note{
	color: white;
}

#upload_form {
	color: white;
	}
.settings{
	background-color: transparent;
}
.settings p{
	font-weight: 500;
	padding-top: 3px;
}

.add{
	display: block;
	text-align: center;
	color: #FFB6C1;
	margin-top: 30px;
}
p {
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-bottom: 5%;
}
body, html {
	height: 100%;
	background: #34495e;
}
.wrapper {

	margin: 0 5%;
	background: #34495e;
	padding-bottom: 5%;
	
}
.content {
	flex: 1 0 auto;
}
.box h1 {
	padding: 20px;
	font-size: 1.3em;
	text-align: center;
}

.about h1 {
padding-top: 5%;
padding-left: 15%;
padding-bottom: 5%;
}

.about ul li {
	padding-top: 7px;
	
}
.about ul li a{
	color: #fff;
	
}

a {
	color: rgb(255, 255, 255);
}
/*.footer {
	flex: 0 0 auto;
}
*/

.container {
	
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
}

.footer{
	margin-left: 0;
	margin-right: 0;
	flex: 0 0 auto;
	flex-shrink: 0;
	/*position: absolute;*/
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
.row:after {
	clear: both;
	content: "";
	display: table;
}
.col-4 {
	width: 33%;
	float: left;
}
.col-4:last-child {
	width: 34%;
	margin-right: 0px;
	float: left;
}

.col-4 p {
	text-align: center;
}


.footer {
	background-color: #24252A;
	color: #6479a2;
	padding-top: 10px;
	padding-bottom: 10px;
	flex-grow: 0;
}

.footer p {
	margin-top: 0px;
	margin-bottom: 5px;
}



.footer__social {
	color: #fff;
	text-align: center;
}

.footer__social-icons {
	color: #fff;
	font-size: 32px;
	text-align: center;
}

p.footer__social-icons a {
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
	transition: all .5s ease;
}

p.footer__social-icons a:last-child {
	margin-right: 0px;
}

p.footer__social-icons a:hover {
	color: #3498db;
	
}

.button {
	font-weight: 700;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	display: inline-block;
	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;
	margin-bottom: 13px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 20%;
	transition: all .5s ease;
}

.button:hover{
	color: #3498db;
	border-color: #3498db;
	
}

textarea {
	max-width: 100%;
  }

.button_1 {
	font-weight: 700;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	display: inline-block;
	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;
	margin-bottom: 13px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 40%;
	transition: all .5s ease;
	
}
.button_1:hover{
	color: #3498db;
	border-color: #3498db;
	
}

.button_2 {
	font-weight: 700;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	display: inline-block;
	border-width: 2px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 50px;
	margin-bottom: 13px;
	margin-top: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 115px;
	transition: all .5s ease;
}
.button_2:hover{
	color: #3498db;
	border-color: #3498db;
	
}
.public{
	display: flex;
  align-items: center;
  justify-content: center 
}